@page
@model IndexModel
@{
    ViewData["Title"] = "Página principal";
}

<div class="row row-cols-1 row-cols-md-3 g-5 mt-5">
    <div class="col">
        <div class="card">
            <img src="./Images/GestionTurnos.png" class="card-img-top" alt="Icono representativo de gestión de turnos.">
            <div class="card-body">
                <h5 class="card-title">Gestión de turnos</h5>
                <p class="card-text">Gestión de turnos con la posibilidad de agendar nuevas consultas, además de consultar la disponibilidad de los médicos.</p>
                <a class="btn btn-primary" asp-area="" asp-page="/GestionTurnos/Index">LLévame ahí</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="./Images/Pagos.png" class="card-img-top" alt="Icono representativo de pagos.">
            <div class="card-body">
                <h5 class="card-title">Pagos</h5>
                <p class="card-text">Registrar pagos de las consultas previamente agendadas, con la posibilidad de emitir el comprobante de dichos pagos.</p>
                <a class="btn btn-primary" asp-area="" asp-page="/Pagos/Index">LLévame ahí</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="./Images/Estadisticas.png" class="card-img-top" alt="Icono representativo de estadísticas y reportes.">
            <div class="card-body">
                <h5 class="card-title">Estadísticas y reportes</h5>
                <p class="card-text">Visualizar los registros de pacientes registrados, y medicos habilitados, organizados en tablas.</p>
                <a class="btn btn-primary" asp-area="" asp-page="/Estadisticas/Index">LLévame ahí</a>
            </div>
        </div>
    </div>
</div>
