html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .25rem;
    height: 1.9rem; 
    width: 1.9rem; 
    border-radius: .375rem; 
}

.btn-square img {
    max-width: 70%;
    height: auto;
    display: block;
}